<link href="/public/styles/mailchimp.css" rel="stylesheet" />
<!-- START CONTENT -->
<div class="row-fluid">
	<div class="row">
		<div class="offset3 span5">
			<img src="/public/image/mailchimp/logo_03.png" title="Logo Dotcha Ninjas" class="offset4 text-center" width="189" height="125" border="0" />
			<img src="/public/image/mailchimp/confirmed.png" title="Almost finished" class="text-left offset2" width="338" height="39" border="0" />
			<div class="firstmail2 offset2">
				<p>Your subscription to our list has been confirmed.</p>
				<p>Thank you for subscribing!</p>
				<p>
					<a class="btn " href="/">Return to our website</a>
				</p>
			</div>
			<div class="firstninjared offset6">
				<img src="/public/image/mailchimp/ninja_red.png" class="offset3" width="138" height="171" border="0" />
			</div>
		</div>
	</div>
</div>
<!-- END CONTENT -->