<link href="/public/styles/mailchimp.css" rel="stylesheet" />
<!-- START CONTENT -->
<div class="row-fluid">
	<div class="row">
		<div class="offset3 span5">
			<img src="/public/image/mailchimp/logo_03.png" title="Logo Dotcha Ninjas" class="offset4 text-center" width="189" height="125" border="0" />
			<img src="/public/image/mailchimp/almost.png" title="Almost finished" class="text-left offset2" width="268" height="39" border="0" />
			<div class="firstmail offset2">
				<p>We need to confirm your email address.</p>
				<p>To complete the subscription process, please click the link<br />in the email we just sent you..</p>
				<p>
					<br />
					<a class="btn" href="/">Return to our website</a>
				</p>
			</div>
			<div class="firstninjared offset6">
				<img src="/public/image/mailchimp/ninja_red.png" class="offset3" width="138" height="171" border="0" />
			</div>
		</div>
	</div>
</div>
<!-- END CONTENT -->